#tmux
tmux*
.vscode/
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
~$oject-Template-Week_1.docx
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
.vscode/.easycpp
~$oject- Idle RPG! -Week_2.docx
src/main
