body {
	background: #222;

	.title{
		font-size: 250%;
	}

	.inner{
		min-width: 720px;
		max-width: 900px;
		margin: 20px auto 0 auto;
		position: relative;

		.select-menu-wrapper{
			display:flex;

			.select-menu{
				display: flex;
				flex:1;
				flex-direction: column;
				padding:10px;
				justify-content: center;

				&.motd{
					align-items: center;
					justify-content: unset;
				}

				.rpgui-button{
					width: 100%;
				}

			}
		}

	}
}