body {
	background: #222;

	.title{
		font-size: 250%;
	}

	.inner{
		min-height: 95%;
		min-width: 720px;
		max-width: 900px;
		margin: 20px auto 0 auto;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.wrapper{
			flex:2;
			margin: 0 auto;
			min-width: inherit;
			

			.autopilot {
				position: absolute;
				right:50px;
				top:135px;
			}
		}

		.select-menu-wrapper{
			display:flex;

			.select-menu{
				display: flex;
				flex:1;
				flex-direction: column;
				padding:10px;
				justify-content: flex-start;

				.motd{
					text-align: center;
				}
				.rpgui-container{
					line-height: 1.5;
					text-align: left;
					position: unset;
					height: 100%;
				}

				.rpgui-button{
					width: 100%;
				}

			}
		}

		.travel-screen-wrapper {
			display: flex;
			gap:25px;
			justify-content: space-between;
			margin:0 auto;
			min-width: 850px;
			position: unset;

			.controls {
				display: flex;
				flex-direction: column;
				button {
					width: inherit;
					min-width: 100%;
				}

			}
			.description{
				flex:1 ;
				position: unset;

				p{
					margin-top:25px;
					max-width: 535px;
				}

			}
		}

		.status-block {
			display: flex;
			justify-content: space-between;
			gap:25px;
		}
		.stats{
			display: flex;
			flex:1;
			flex-direction: column;
			position: inherit;
		}

		.stat-block {
			flex:1;
		}
		.control-row{
			display: flex;
			margin: 10px auto;
		}
	}
}