body {
	background: #222;

	.title{
		font-size: 250%;
	}

	.inner{
		min-height: 95%;
		min-width: 720px;
		max-width: 900px;
		margin: 20px auto 0 auto;
		position: relative;

		.select-menu-wrapper{
			display:flex;

			.select-menu{
				display: flex;
				flex:1;
				flex-direction: column;
				padding:10px;
				justify-content: flex-start;

				.motd{
					text-align: center;
				}
				.rpgui-container{
					line-height: 1.5;
					text-align: left;
					position: unset;
					height: 100%;
				}

				.rpgui-button{
					width: 100%;
				}

			}
		}

		.character-stats{
			// display: flex;
			// flex-direction: column;
		}
		.control-row{
			display: flex;
			margin: 10px auto;
		}
	}
}